$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

@mixin rebase($clr_back,$clr_back_focus,$clr_content_a,$clr_content_b,$clr_content_c,$clr_content_d,$clr_back_inv_focus,$clr_back_inv,$highlight) 
{
    * {
        color:$clr_content_c;
        border-color:$clr_content_c;
    }
    body {
        background-color:$clr_back;
    }
    .list-group-item, .list-group-item:visited {
        background-color:$clr_back;
        border: 0px;
    }
    .list-group-item:first-child, .list-group-item:last-child {
        border-radius: 0;
    }
    .list-group-item:hover, {
        background-color:$clr_back_focus;
    }

    h1,h2,h3,h4,h5,h6,h2>* {
        color:$highlight;
        font-family: 'Inconsolata', monospace;
        //font-family: 'Slabo 27px', serif;
        //font-family: 'VT323', monospace;
    }
    h2 {
        border-bottom:1px solid $clr_content_c;
    }
    a, a:active, a:visited {
        color: $highlight;
    }
    a.active, a.active > * {
        background-color:$clr_back_focus;
    }
    a:hover {
        //background-color: $clr_back_focus;
    }
    .nav-link:hover {
        text-decoration: underline;
    }
    .jumbotron {
        background-color: $clr_back_focus;
    }
}

/* light is default mode, so pair with general html definition */
.light {
    @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03,$yellow);
}
html, .dark  {
    @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3,$blue);
}
html * {
    color-profile: sRGB;
    rendering-intent: auto;
}
